body {
  font-family:fantasy;
  background-image:url(./1063.png);
  color:aliceblue;
}
#navbar table {
  position: sticky;
  top:0px;
  background-color:midnightblue;
  color:aliceblue;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.active {
  background-color:aliceblue;
  color:midnightblue;
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  color:darkblue;
  position: absolute;
  left:100px;
  top:5px;
  background-color:aliceblue;
  box-shadow: 5px 5px 7px midnightblue;
}
header {
    color: aliceblue);
    font-size: 30px;
    text-align: center;
    border: 2px solid #518BB4;
    background-color: #264E69;
}
.image-overlap-info {
    height: 150px;
    width: 200px;
    position: relative;
    top: -180px;
    left: 700px;
}
